doctype html
html(lang='es')
  head
    meta(charset='utf-8')
    title website
    meta(name='description', content='')
    meta(name='author', content='Raymundo Rabago')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='css/app.min.css')
    //if lt IE 9
      script(src='//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js')
      
  body
    header
      .inner
        h1
          a(href='#') RFramework
          span web starter kit
          
    section.inner
      block content
      
    footer
      .inner
        p.small Raymundo Rabago | 2015 - ningún derecho reservado ©

    // SCRIPTS =========================================================================================
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')
    script(src='js/app.min.js')
