  :root {
    --fontsize: 12px;
    --fontcolor: #666;
    --theme: #DD3735;
    --support: #FF8400;
    --default: #f5f5f5;
  }

  @custom-media --small  (width >= 30rem);
  @custom-media --medium (width >= 50rem);
  @custom-media --large  (width >= 80rem);
  
  @custom-selector :--headings h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6;
  @custom-selector :--buttons a[class^="btn-"], button, input[type="submit"], input[type="reset"], input[type="button"];
  @custom-selector :--enter :hover, :focus;

  /*  RESET --------------------------- */
  @import 'libs/reset.css';

  /*  BASE CSS ------------------------ */
  @import 'libs/base.css';

  /*  SIMPLE GRID --------------------- */
  @import 'libs/grid.css';

  /*  MODULES ------------------------- */
  @import 'libs/modules.css';

  /*  Helpers ------------------------- */
  @import 'libs/helpers.css';

  /*  LAYOUT -------------------------- */
  @import 'libs/layout.css';