doctype html
html(lang='es')
  head
    meta(charset='utf-8')
    title Simple Responsive Framework
    meta(name='description', content='')
    meta(name='author', content='Raymundo Rabago')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')
    link(rel='stylesheet', href='assets/css/app.min.css')
    //if lt IE 9
      script(src='//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js')

  body
    header.bg-cover.mb1
      h1
        img(src='assets/img/postcss.svg' alt="PostCss Starter Framework" width="110px")
        span Simple Responsive Framework
          
    section.wrapper
      block content
      
    footer
      .wrapper
        p.small Raymundo Rabago © | 2016 - simple first-mobile css framework

    // SCRIPTS =========================================================================================
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')
    script(src='assets/js/app.min.js')
